@import 'variables';
@import 'utilities';

.add-note-button {
    @include flexCenter(row);
    position: fixed;
    bottom: 5%;
    right: 5%;
    width: 75px;
    height: 75px;
    color: $gold;
    background: $purple;
    border: 3px solid $gold;
    border-radius: 50%;
    vertical-align: middle;
    h1 {
        text-align: center;
        vertical-align: top;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    &:hover {
        cursor: pointer;
        padding: 0;
        animation: full-rotate 0.8s cubic-bezier(1, 0.5, 0.5, 1) forwards,
        color-glow 0.2s ease-out forwards;
    }
}

@keyframes full-rotate {
    100% {
        transform: rotateZ(360deg);
    }
}

@keyframes color-glow {
    100% {
        box-shadow: 0 0 30px $gold;
    }
}