@import 'utilities';

.hidden {
    display: none;
}

.form-container {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, .75);
    z-index: 10;

    form {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: grid;
        grid-auto-rows: 50px;
        padding: 30px 100px;
        padding-bottom: 50px;
        width: 700px;
        box-shadow: 0 0 5px rgba(0, 0, 0, .75);
        background: white;
        
        div {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;

            h1 {
                justify-self: center;
                align-self: center;
            }
            
            label {
                color: black;
            }

            input, textarea, select {
                position: absolute;
                flex: 1;
                left: 100px;
                right: 30px;
            }
            button {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                padding: .75rem 1.25rem;
            }
        }
    }
}