@import 'variables';
@import 'utilities';

.layout.container {
    background-color: $purple;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: $list-width auto;
    grid-template-rows: $header-height auto;
    position: fixed;
    .list {
        grid-row: 1 / -1;
    }
    .notes {
        grid-column-start: 2;
        grid-row-start: 2;
    }
}