// Colors
$gold: #EAAC8B;
$pink: #E56B6F;
$purple: #352B3B;

// Spacing
$base-offset:  20px;

// Accents
$line-width: 1px;

$header-height: 80px;
$list-width: 300px;
$title-top-offset: calc($header-height - 50px);
