@import 'base';

$clr-background: rgb(238, 238, 238);
$clr-primary: rgb(51, 6, 111);
$clr-secondary: black;

* {
    color: $clr-secondary;
}

// Layout.
body {
    height: 100vh;
    display: grid;
    grid:
    'projects-list header' 150px
    'projects-list tasks-list' auto
    'projects-list details' auto /
    minmax(150px, 300px) minmax(250px, auto);
    background-color: $clr-background;
    .header {
        grid-area: header;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem 0;
    }
    .projects {
        grid-area: projects-list;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .tasks-container {
        grid-area: tasks-list;
        justify-self: center;
    }
    .task-details-container {
        grid-area: details;
        width: 60vw;
        align-self: center;
        justify-self: center;
    }
}

.header {
    border-bottom: 1px solid black;
}

.projects {
    padding-left: 50px;
    gap: 3rem;
    border-right: 1px solid black;
    background-color: darkgrey;
    .project-heading {
        letter-spacing: -.5px;
        text-decoration: underline;
    }
    .projects-list {
        .project-item {
            cursor: pointer;
            margin-bottom: 10px;
            &:hover {
                color: white;
            }
        }
        .active-project {
            cursor:crosshair;
            font-weight: bolder;
            &:hover {
                color: currentColor;
            }
        }
    }
}

.tasks-container {
    display: grid;
    grid:
    'title ... new' 50px
    'task ... new' 250px /
    350px 150px 100px;
    justify-items: center;
    margin-top: 50px;

    .selected-project-title {
        grid-area: title;
        text-decoration: underline;
        margin-bottom: 20px;
    }
    .tasks-list {
        width: 100%;
        grid-area: task;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        .task {
            width: 100%;
            padding: 10px 0;
            border-bottom: 1px solid grey;
        }
    }
    [data-new-task-form] {
        grid-area: new;
        top: 100;
        border: 2px solid black;
        margin-top: 50px;
        padding: 20px;

        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}

.task-details-container {
    $separation: 20px;
    height: 100%;
    width: 100%;
    padding: $separation;
    border-top: 1px solid black;
    p {
        margin: $separation 0;
    }
    h5 + h5 {
        margin-top: calc($separation * .5);
    }
}

form {
    input, textarea {
        background: none;
        border: none;
        border-bottom: 1px solid black;
        &::placeholder {
            color: gray;
        }
    }
    textarea {
        height: 50px;
    }
    button {
        $size: 20px;
        width: $size;
        height: $size;
        background: none;
        border: 1px solid black;
        border-radius: 50%;
        &:hover {
            cursor: pointer;
            border-width: 2px;
        }
    }
}

