@import 'base';

$clr-background: rgb(238, 238, 238);
$clr-primary: rgb(51, 6, 111);
$clr-secondary: black;

* {
    color: $clr-secondary;
}

// Layout.
body {
    height: 100vh;
    display: grid;
    grid:
    'projects-list header' 150px
    'projects-list tasks-list' auto
    'projects-list details' auto /
    minmax(175px, 250px) minmax(250px, auto);
    background-color: $clr-background;
    .header {
        grid-area: header;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem 0;
    }
    .projects {
        grid-area: projects-list;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .tasks-container {
        grid-area: tasks-list;
    }
    .task-details-container {
        grid-area: details;
    }
}

.header {
    border-bottom: 1px solid black;
}

.projects {
    padding: 20px;
    gap: 3rem;
    border-right: 1px solid black;
    background-color: darkgrey;
    .project-heading {
        letter-spacing: -.5px;
        text-decoration: underline;
    }
    .projects-list {
        .project-item {
            cursor: pointer;
            margin-bottom: 10px;
            &:hover {
                color: white;
            }
        }
        .active-project {
            cursor:crosshair;
            font-weight: bolder;
            &:hover {
                color: currentColor;
            }
        }
    }
}

.tasks-container {
    display: grid;
    grid:
    'title ... ...' auto
    'task ... new' auto /
    minmax(200px, 2fr) minmax(50px, 100px) 1fr;
    gap: 10px;
    padding: 50px;

    .selected-project-title {
        grid-area: title;
        align-self: center;
        text-decoration: underline;
    }
    .tasks-list {
        grid-area: task;
        align-self: start;
        display: inline-flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        .task {
            width: 100%;
            padding: 10px 0;
            border-bottom: 1px solid lightgray;

            input {
                margin-right: 10px;
            }

            input:checked + label {
                text-decoration: line-through;
            }
        }
    }

    [data-new-task-form] {
        grid-area: new;
        align-self: start;
        border: 1px solid currentColor;
        padding: 50px;

        display: flex;
        flex-direction: column;
        gap: 20px;
        
        color: grey;
        position: relative;

        input, textarea, select {
            width: 100%;
        }
        input::placeholder,
        textarea::placeholder,
        input, label, select {
            color: grey;
        }
        button {
            position: absolute;
            top: calc(100% + 10px);
            border-radius: 5px;
            width: auto;
            align-self: center;
            padding: 0.75em 1.25em;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.task-details-container {
    $separation: 20px;
    padding: 50px;
    border-top: 1px solid black;
    p {
        margin: $separation 0;
    }
    h5 + h5 {
        margin-top: calc($separation * .5);
    }
}

form {
    input, textarea {
        background: none;
        border: none;
        border-bottom: 1px solid black;
        &::placeholder {
            color: white;
        }
    }
    textarea {
        height: 50px;
    }
    button {
        $size: 20px;
        width: $size;
        height: $size;
        background: none;
        border: 1px solid black;
        border-radius: 50%;

        display: inline-flex;
        justify-content: center;
        align-items: center;
        &:hover {
            cursor: pointer;
            border-width: 2px;
        }
    }
    label {
        font-size: .7rem;
    }
}

